html {
    color: #000;
    background: #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, em, strong, a, a:hover, pre, code, fieldset, form, select, legend, label, input, button, textarea, p, table, th, td, img {
    margin: 0px;
    padding: 0px;
    zoom: 1;
}

body {
    display: block;
    margin: 8px;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1, h2, h3, h4, h5, h6, em, strong, a, a:hover {
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
}

div {
    display: block;
}

ul {
    list-style-type: disc;
}

li {
    list-style: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

#container {
    width: 958px;
    margin: 0 auto;
    border: 1px solid #d01027;
    text-align: left;
}

#header_info {
    width: 340px;
    margin-left: auto;
    padding: 5px 5px 5px 0px;
}

#header img {
    display: block;
    float: left;
}

fieldset, img {
    border: 0;
}

#header li.menuicon {
    display: block;
    width: 70px;
    height: 75px;
    float: left;
    border-right: 1px solid #d01027;
    text-align: center;
}

#header li.menuicon img {
    clear: both;
    width: 58px;
    margin: 0px auto;
    float: none;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 5px;
}

#header_info td.title {
    width: 80px;
}

#header_info td {
    padding: 0px;
}

#header_info td.logout {
    background-color: #d01027;
    text-align: center;
    padding: 0 2px;
    width: 70px;
}

#header_info td.logout a {
    color: #ffffff;
    font-size: 0.9em;
    font-weight: normal;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, a, a:hover {
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
}

#contents {
    clear: both;
    border-top: 1px solid #d01027;
}

div.reserv_date {
    font-size: 1.3em;
    font-weight: bold;
    font-size: 1.3em;
    color: #d01027;
}

