@charset "UTF-8";
html {
  color: #000;
  background: #fff; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, em, strong, a, a:hover, pre, code, fieldset, form, select, legend, label, input, button, textarea, p, table, th, td, img {
  margin: 0px;
  padding: 0px;
  zoom: 1; }

body {
  display: block;
  margin: 8px;
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

h1, h2, h3, h4, h5, h6, em, strong, a, a:hover {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  outline: none; }

div {
  display: block; }

ul {
  list-style-type: disc; }

li {
  list-style: none; }

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer; }

#container {
  width: 958px;
  margin: 0 auto;
  border: 1px solid #d01027;
  text-align: left; }

#header_info {
  width: 340px;
  margin-left: auto;
  padding: 5px 5px 5px 0px; }

#header img {
  display: block;
  float: left; }

fieldset, img {
  border: 0; }

#header li.menuicon {
  display: block;
  width: 70px;
  height: 75px;
  float: left;
  border-right: 1px solid #d01027;
  text-align: center; }

#header li.menuicon img {
  clear: both;
  width: 58px;
  margin: 0px auto;
  float: none; }

td {
  display: table-cell;
  vertical-align: inherit; }

table {
  border-collapse: separate;
  border-spacing: 2px; }

table {
  table-layout: fixed;
  word-wrap: break-word; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  padding: 5px; }

#header_info td.title {
  width: 80px; }

#header_info td {
  padding: 0px; }

#header_info td.logout {
  background-color: #d01027;
  text-align: center;
  padding: 0 2px;
  width: 70px; }

#header_info td.logout a {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: normal;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, a, a:hover {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  outline: none; }

#contents {
  clear: both;
  border-top: 1px solid #d01027; }

div.reserv_date {
  font-size: 1.3em;
  font-weight: bold;
  font-size: 1.3em;
  color: #d01027; }

div.reserv_header {
  padding: 2px;
  margin: 5px;
  height: 25px;
  vertical-align: middle; }

div.register_overview {
  width: 192px;
  float: left;
  padding: 5px;
  position: relative; }

div.register_contents {
  width: 728px;
  float: left;
  padding: 5px; }

caption, th {
  text-align: left; }

.register_table th {
  font-weight: bold;
  color: #d01027;
  vertical-align: top;
  padding: 5px;
  width: 100px; }

.register_table input[type="text"] {
  width: 200px; }

.course {
  border: 1px solid #cccccc;
  border-radius: 9px;
  cursor: pointer;
  display: block;
  float: left;
  height: 27px;
  margin: 0 4px 4px 0;
  position: relative;
  width: 84px;
  z-index: 100;
  background: #339FE8;
  color: #E7F2F6;
  font-size: 9px;
  text-align: center;
  line-height: 27px; }

.treatmentsite {
  border: 1px solid #cccccc;
  border-radius: 9px;
  cursor: pointer;
  display: block;
  float: left;
  height: 27px;
  margin: 0 4px 4px 0;
  position: relative;
  width: 84px;
  z-index: 100;
  background: #339FE8;
  color: #E7F2F6;
  font-size: 9px;
  text-align: center;
  line-height: 27px; }

input.operation_button {
  cursor: pointer;
  width: 120px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 4px 8px;
  border: 1px solid #d01027;
  background: -moz-linear-gradient(top, #ffffff, #F6D4D5);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F6D4D5));
  border-radius: 5px;
  color: #d01027; }

td.center {
  text-align: center; }
